/VSTest/packages/
/VSTest/x64/
/VSTest/Win32/
/VSTest/.vs/
/EvalViewer/Debug/
/TestEngineLib/x64/
/VSTest/Debug/
/TestEngineLib/Debug/
/EvalViewer/x64/
/VSTest/Stockfish.VC.db
/VSTest/ipch/
/VSTest/*.VC.opendb
*.o
.depend
stockfish.exe
*.suo
/FishBench/bin/
/FishBench/obj/
/FishBench/packages/
*.smp
